.ssh/
.gnupg/
.aws/
.gcloud/
.secrets/
*.key
*.pem
*.crt
*.p12
*.gpg
*.asc
*.kdbx
*.env
*.secrets
*.pfx

*.swp
*.swo
*~
*.bak
*.tmp
lazy-lock.json
.DS_Store
Thumbs.db

.cache/
.local/
node_modules/
npm-debug.log
yarn-error.log

.idea/
.vscode/

shell/.zshrc.local

git/.config/git/local.gitconfig
git/.config/git/allwed_singers

.stow-local-ignore
stow-local-ignore

*.old
*.backup
