* {
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: rgba(50, 48, 47, 0.85); /* Gruvbox Dark Soft */
    color: #ebdbb2; /* Foreground */
    border-bottom: 2px solid #504945;
}

#workspaces button {
    padding: 0 5px;
    color: #928374; /* Gray */
}

#workspaces button.active {
    color: #fabd2f; /* Yellow */
    border-bottom: 2px solid #fabd2f;
}

#workspaces button.urgent {
    color: #fb4934; /* Red */
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray, #language, #bluetooth {
    padding: 0 10px;
    margin: 0 4px;
}

#clock { color: #fe8019; }        /* Orange */
#cpu { color: #fb4934; }          /* Red */
#memory { color: #d3869b; }       /* Purple */
#network.ethernet { color: #8ec07c; } /* Aqua */
#network.wifi { color: #8ec07c; }     /* Aqua */
#bluetooth { color: #83a598; }     /* Blue */
#pulseaudio { color: #b8bb26; }    /* Green */
#language { color: #d65d0e; }      /* Dark Orange */
